<!DOCTYPE html>
<html>
<body>

<h1>Nature finder</h1>

<!-- Add the image to the gallery -->

{% for x in data %}
        <div class="col-md-4">
          <div class="thumbnail">
            <a href="{{ x.image.url }}">
              <img src="{{ x.image.url }}" alt="Lights" style="width:100%">
              <div class="caption">
                <p>{{ x.title }}</p>
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
        
<input type="submit" value="Submit">


</body>
</html>